html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Athiti', sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: white;
}

body, html {
  height: 80%;
}

.cd-container {
  width: 50%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 50%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  margin-top: -30px;
  position: relative;
  min-height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 40%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("img-bg/2.jpg");
  margin-top: -
  -webkit-transform: scale3d(1,1.1,1);
  transform: scale3d(1,1.1,1);
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("img-bg/book.jpg");
  -webkit-transform: scale3d(1,1.1,1);
  transform: scale3d(1,1.1,1);
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("img-bg/book.jpg");
  -webkit-transform: scale3d(1,1.1,1);
  transform: scale3d(1,1.1,1);
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("img-bg/2.jpg");
  -webkit-transform: scale3d(1,1.1,1);
  transform: scale3d(1,1.1,1);
}

@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #ffffff;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #ffffff;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #ffffff;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/*----------------------------

navbar

-----------------------------*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(190, 106, 119, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);    
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;    
}

#fz:hover {
  font-size: 20px;
  /*font-size: 4vw;*/
  transition:0.3s;
}

#fz2 {
  font-size: 20px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ee8e3c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ee8e3c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ee8e3c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #be6a77;
}

li a {
    font-size: 16px;
}

.dropdown-menu>li>a:hover{
  color: #ffffff;
}

#dropdown {
  background: #be6a77;
  width: 200px;
}

#dropdown li a{
  font-size: 16px;
  color: #ffffff;
  display: block;
}

#dropdown li a:hover{
  background: #ee8e3c;
  font-size: 16px;
  color: #ffffff;

  -webkit-animation: INDENT 2s 1; 
  -moz-animation:    INDENT 2s 1; 
  -o-animation:      INDENT 2s 1; 
  animation:         INDENT 2s 1; 
}

@-webkit-keyframes INDENT{  
  0%   { text-indent: 0; }
  25% { text-indent: 5px; }
  75% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@-moz-keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 5px; }
  75% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@-o-keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 5px; }
  75% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 5px; }
  75% { text-indent: 5px; }
  100% { text-indent: 0; }
}


/*
slider
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }

.text-slide {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 480px;
  height: 80px;
  font-size: 50px;
  color: #ffffff;
  line-height: 60px;
  margin-left:5%;
  background: #ee8e3c;
  background-color:rgba(190, 106, 119, 0.7);
  text-align:center;
  padding-top:10px;
}

/*
aos animatiom scroll
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.aos-all {
  width: 1000px;
  max-width: 98%;
  margin: 10vh auto 0 auto;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 33.3333%;
  height: 300px;
  padding: 20px;
}

.aos-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
    border: none;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.line {
  height: 5px; 
  background: #ee8e3c;
}

.line2 {
  height: 5px; 
  background: #be6a77;
}

#info:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-file-text {
  color: #ee8e3c;
}

.text {
  color: #ee8e3c; 
}

.text:hover {
  color: #ee8e3c; 
}

.text2 {
  color: #ee8e3c; 
}

.text2:hover {
  color: #be6a77; 
}

.shadow {
  text-shadow: 2px 2px 4px #000000;
}

/*banner new*/
/*#banner {
  width: 100%;
  height: 110%;
  background-color: #000000;
  -webkit-animation: 20s sliderPic infinite;
  animation: 20s sliderPic infinite;
  position: relative;
  background-size: cover;
  overflow: hidden; 
}*/

/*@-webkit-keyframes sliderPic {
  0% {
    background-image: url('img-bg/s1.jpg');
  }
  20% {
    background-image: url('img-bg/s2.jpg'); 
  }
  40% {
    background-image: url('img-bg/s3.jpg');
  }
  60% {
    background-image: url('img-bg/s4.jpg');
  }
  80% {
    background-image: url('img-bg/s5.jpg');
  }
  100% {
    background-image: url('img-bg/s1.jpg');
  }
}*/

#banner2 {
  width: 100%;
  height: 50%;
  background-color: #000000;

  -webkit-animation: 20s sliderPic2 infinite;
  animation: 20s sliderPic2 infinite;

  position: relative;
  background-size: 100% 100%;
  overflow: hidden; 
}

@-webkit-keyframes sliderPic2 {
  0% {
    background-image: url('img-bg/s1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  20% {
    background-image: url('img-bg/s2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
  }
  40% {
    background-image: url('img-bg/s3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  60% {
    background-image: url('img-bg/s4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  80% {
    background-image: url('img-bg/s5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  100% {
    background-image: url('img-bg/s1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.subject1 {
  background-color: rgba(243, 115, 66, 0.5);
  border-radius: 0px 0px 0px 30px;
}
.subject2 {
  background-color: rgba(254, 215, 78, 0.5);
  border-radius: 0px 0px 0px 30px;
}
.subject3 {
  background-color: rgba(113, 176, 96, 0.5);
  border-radius: 0px 0px 0px 30px;
}
.subject4 {
  background-color: rgba(152, 81, 139, 0.5);
  border-radius: 0px 0px 0px 30px;
}
.subject5 {
  background-color: rgba(69, 148, 191, 0.5);
  border-radius: 0px 0px 0px 30px;
}

.subject1:hover {
  background-color: rgba(243, 115, 66, 1);
  /*opacity: 0.7;*/
}
.subject2:hover {
  background-color: rgba(254, 215, 78, 1);
  /*opacity: 0.7;*/
}
.subject3:hover {
  background-color: rgba(113, 176, 96, 1);
  /*opacity: 0.7;*/
}
.subject4:hover {
  background-color: rgba(152, 81, 139, 1);
  /*opacity: 0.7;*/
}
.subject5:hover {
  background-color: rgba(69, 148, 191, 1);
  /*opacity: 0.7;*/
}

/*moto*/
#mt1 {
  z-index: 100;
  position: absolute;
}

#mt2 {
  z-index: 100;
  position: absolute;
}

#mt3 {
  z-index: 100;
  position: absolute;
}

#mt4 {
  z-index: 100;
  position: absolute;
}

#mt5 {
  z-index: 100;
  position: absolute;
}

#mt6 {
  z-index: 100;
  position: absolute;
}

#bthome {
  width:6%;
  top:85%;
  right:50px;
  z-index:950;
  position:fixed;
}

#bthome:hover {
  width:7%;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

#bthome2 {
  width:50px;
  top:85%;
  right:10px;
  z-index:950;
  position:fixed;
}

#bthome2:hover {
  width:60px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}