html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Athiti', sans-serif;
}
/*login*/
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#left-menu {
	width:100%; 
	height:50px; 
	background-color:#b45564; 
	border-bottom:1px solid rgba(255, 255, 255, 0.6); 
	color:#ffffff;
}

#left-menu h3 {
  margin-top: 10px;
}